SERIAL 0 115200
UI vesamenu.c32
MENU TITLE pytunaOS
MENU BACKGROUND splash.png

MENU WIDTH 78
MENU MARGIN 4
MENU ROWS 7
MENU VSHIFT 10
MENU TABMSGROW 14
MENU CMDLINEROW 14
MENU HELPMSGROW 16
MENU HELPMSGENDROW 29

# Refer to https://wiki.syslinux.org/wiki/index.php/Comboot/menu.c32

MENU COLOR border       37;41   #80F5EDED #A0800000 std
MENU COLOR title        1;37;41 #FFF5EDED #A0A00000 std
MENU COLOR sel          7;37;40 #FFF5EDED #40C62828 all
MENU COLOR unsel        37;41   #D0F5EDED #A08B1E1E std
MENU COLOR help         37;40   #C0F5EDED #80222222 std
MENU COLOR timeout_msg  37;40   #A0F5EDED #00000000 std
MENU COLOR timeout      1;37;40 #FFF5EDED #00000000 std
MENU COLOR msg07        37;40   #C0F5EDED #80222222 std
MENU COLOR tabmsg       1;37;40 #FFF5EDED #00000000 std

MENU CLEAR
MENU IMMEDIATE
